:root {
  --main-orange-color: #d2872c;
  --main-gray-color: #766f68;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
ul {
  list-style: none;
}
html,
body {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

/* * HEADER STYLE */
@media (min-width: 300px) {
  header {
    width: 100%;
    height: 15vh;
    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    background: white;
  }
  header div a {
    font-size: 0.9em;
    font-weight: bold;
    color: var(--main-orange-color);
  }
  header nav svg {
    display: flex;
  }
  header nav ul {
    display: none;
  }
  header nav ul.active {
    position: absolute;
    left: 0;
    top: 15vh;

    width: 100%;
    height: 10rem;
    padding-left: 0.5rem;

    background: white;
    box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.2);
    animation: menuAnimation linear 0.2s;

    display: block;
  }
  header nav ul.active li a {
    font-size: 0.6em;
    color: #444;
  }
  @keyframes menuAnimation {
    0% {
      opacity: 0;
      transform: translateY(-10%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}
@media (min-width: 500px) {
  header nav ul.active {
    top: 7rem;
  }
  header div a {
    font-size: 1em;
  }
}
@media (min-width: 1024px) {
  header {
    height: 25vh;
    padding: 0 3rem;
  }
  header div a {
    font-size: 1em;
  }
  header nav svg {
    display: none;
  }
  header nav ul {
    display: flex;
    justify-content: space-between;
    width: 23rem;
    font-size: 0.65em;
  }
  header nav ul a {
    color: #444;
    cursor: pointer;
  }
}
@media (min-width: 1500px) {
  header div a {
    font-size: 1.1em;
  }
  header nav ul {
    width: 26rem;
  }
}

/* * MAIN STYLE */
@media (min-width: 300px) {
  main {
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-content: center;
    align-items: center;

    height: 30rem;
    width: 100%;

    color: var(--main-gray-color);
  }
  main div:first-child {
    text-align: center;
  }
  main div img {
    width: 80%;
  }
  main div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: 100%;
    padding: 1rem 1rem;
  }
  main div h1 {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  main div p {
    font-size: 0.6em;
    text-align: center;
    margin-bottom: 2.5rem;
  }
  main div a {
    font-size: 0.75em;
    font-weight: bold;

    background: var(--main-orange-color);
    color: white;

    padding: 1rem 4rem;
    border-radius: 16px;
  }
}
@media (min-width: 500px) {
  main {
    height: 50rem;
  }
  main div:last-child {
    padding: 1rem 3.5rem;
  }
  main div h1 {
    font-size: 1.4em;
  }
  main div p {
    font-size: 0.9em;
    margin-bottom: 3.5rem;
  }
  main div a {
    font-size: 1em;
    padding: 1.5rem 8rem;
  }
}
@media (min-width: 1024px) {
  main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30rem;

    position: relative;
  }
  main div:last-child {
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 11rem 6.6rem;
  }
  main div h1 {
    font-size: 1.8em;
    text-align: left;

    max-width: 30rem;
  }
  main div p {
    font-size: 0.75em;
    text-align: left;

    max-width: 25rem;
  }
  main div a {
    font-size: 0.75em;
    padding: 1rem 5rem;
  }
  main div img {
    width: 60%;

    position: absolute;
    right: 0;
    top: 0;
    z-index: -10;
  }
}
@media (min-width: 1236px) {
  main div:last-child {
    padding: 0 0 8rem 10rem;
  }
  main div h1 {
    font-size: 2.2em;
    max-width: 35rem;
    margin-bottom: 2rem;
  }
  main div p {
    font-size: 0.9em;

    max-width: 30rem;
    margin-bottom: 4rem;
  }
  main div a {
    font-size: 0.8em;
  }
}

/* * FOOTER STYLE */
@media (min-width: 300px) {
  footer {
    width: 100%;
    height: 6rem;
    margin-top: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.5em;
  }
  footer a {
    color: var(--main-orange-color);
  }
}

/* * MODAL STYLE */
@media (min-width: 300px) {
  #modal {
    display: none;

    animation: openModal linear 0.2s;
  }
  #modal.active {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-content {
    height: 17rem;
    width: 90%;

    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);

    display: grid;
    grid-template-rows: 1fr 2fr;

    position: relative;
  }
  .modal-content div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-content h1 {
    font-size: 1.2em;
    color: var(--main-orange-color);
  }
  .modal-content form[id="login-form"] {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .modal-content input {
    margin-top: 0.2rem;
    padding: 0.8rem 0.5rem;
    width: 18rem;

    border: none;
    box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.4);
  }
  .modal-content input + input {
    margin-top: 0.8rem;
  }
  .modal-content button {
    margin-top: 0.8rem;
    padding: 0.5rem 2rem;

    border: none;
    border-radius: 4px;

    color: white;
    font-weight: bold;

    background: var(--main-orange-color);
    cursor: pointer;
  }
  .modal-content svg {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;

    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }

  @keyframes openModal {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}

@media (min-width: 500px) {
  .modal-content {
    width: 60%;
    height: 25rem;
  }
  .modal-content input {
    width: 25rem;
  }
  .modal-content button {
    padding: 0.7rem 0rem;
    width: 25rem;
    transition: 0.2s;
  }
  .modal-content button:hover {
    opacity: 0.9;
  }
}
